body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Style for nav bar container*/
nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/*Style for links inside nav*/
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 15px;
}

/*Change color when hovering*/
nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: #222;
}

main {
    max-width: 1200px;
    margin: 0em auto;
    padding: 0 1em;
}

body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.2em;
    margin-top: 0.2em;
    font-size: 1.5em;
    color: #222;
}